.CallToAction {
  background-color: #EFEFEF;
  height: 177px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 11px;
}

.CallToAction-header {
  font-family: 'Pacifico', cursive;
  font-size: 26px;
  font-weight: 100;
  margin-bottom: 0px;
}

.CallToAction-info {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin-top: 6px;
  margin-bottom: 14px;
}


@media screen and (min-width: 850px) {
  .CallToAction {
    margin-top: -110px;
  }
  .CallToAction-info {
    margin-top: 9px;
    margin-bottom: 26px;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');