.LinkCategory {
  position: relative;
}


.LinkCategory-header-cntr {
  position: relative;
  padding: 13px 0 11px 0;
}

.LinkCategory-header-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.LinkCategory-header {
  font-family: 'Pacifico', cursive;
  font-size: 22px;
  font-weight: 400;
  line-height: 39px;
  text-align: center;
}

.LinkCategory-icon:hover {
  cursor: pointer;
}


.LinkCategory-link-cntr {
  list-style-type: none;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  line-height: 30px;
}


.LinkCategory-link:hover {
  cursor: pointer;
}

@media screen and (min-width: 480px) {
  .LinkCategory-link-cntr {
    font-size: 16px;
    line-height: 36px;
  }
}


@media screen and (min-width: 850px) {
  .LinkCategory-link-cntr {
    font-size: 18px;
    line-height: 40px;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');