.ImgSmall {
  display: flex;
  flex-direction: column;
}

.ImgSmall:hover {
  cursor: pointer;
}

.ImgSmall img {
  margin: 0;
  background-size: cover;
}


@media screen and (min-width: 480px) {
  .Gallery-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}