.ProductCarousel {
  width: 100%;
  height: 300px;
}

.ProductCarousel-carousel-cntr {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ProductCarousel-header {
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 26px;
  font-weight: 400;
  line-height: 46px;
}

.ProductCarousel-main-slide-cntr {
  width: 100%;
  height: auto;
  padding: 0 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ProductCarousel-main-slide {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.ProductCarousel {
  overflow: visible;
}

.carousel.carousel-slider, .carousel-root:nth-of-type(1) {
  overflow: visible;
}

.control-arrow {
  color: #0000;
}

.ProductCarousel .dot {
  visibility: hidden;
  background-color: #fff;
}

/* Both Arrows */
.carousel .control-arrow::before, .carousel.carousel-slider .control-arrow::before {
  position: absolute;
  background-color: transparent;
  width: 10px;
  height: 10px;
  margin-top: 40px;
  box-shadow: -2px 2px 0 black;
  display: inline-block;
  border-top: none;
  border-bottom: none;
  content: '';  
}
.carousel.carousel-slider .control-arrow:hover {
  background: none;
}
.carousel .control-arrow, .carousel.carousel-slider .control-arrow {
  transition: none;
  opacity: 1;
}
/* Left Arrow */
.carousel .control-prev.control-arrow::before {
  right: -25px;
  transform: rotate(45deg);
  border-right: none;
}
/* Right Arrow */
.carousel .control-next.control-arrow::before {
  left: -25px;
  transform: rotate(-135deg);
  border-left: none;
}

/* Disabled Arrow */
.carousel .control-disabled.control-arrow {
  display: block;
}

@media screen and (min-width: 350px) {
  .ProductCarousel {
    width: 100%;
    height: 320px;
  }

  .ProductCarousel-main-slide-cntr {
    margin-bottom: 40px;
  }
  .ProductCarousel-header {
    margin-bottom: 20px;
  }
  /* Left Arrow */
  .carousel .control-prev.control-arrow::before {
    right: -20px;
  }
  /* Right Arrow */
  .carousel .control-next.control-arrow::before {
    left: -20px;
  }
}

@media screen and (min-width: 400px) {
  .ProductCarousel-main-slide-cntr {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 430px) {
  .ProductCarousel-header {
    margin-bottom: 15px;
  }

  .ProductCarousel-main-slide-cntr {
    margin-bottom: 90px;
  }
}

@media screen and (min-width: 480px) {
  .ProductCarousel {
    height: 400px;
  }
  .ProductCarousel-header {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 500px) {
  .ProductCarousel {
    height: 430px;
  }
}

@media screen and (min-width: 590px) {
  .ProductCarousel {
    height: 580px;
    padding: 0 20px;
  }
  /* Both Arrows */
  .carousel .control-arrow::before, .carousel.carousel-slider .control-arrow::before {
    width: 20px;
    height: 20px;
    margin-top: 120px;
    cursor: pointer;
  }

  /* Disabled Arrow */
  .carousel .control-disabled.control-arrow {
    display: block;
  }
}

@media screen and (min-width: 850px) {
  .ProductCarousel {
    height: 705px;
  }
  .ProductCarousel-header {
    font-size: 60px;
    line-height: 105px;
    margin-bottom: 39px;
  }
}


@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');